@media (max-width:600px){ 
    .main{
        height: 200px;
    }
    .carousel {
    overflow: scroll;
    width: 100%;
    position: relative;
    
  }
  .carousel__container {
    margin: 60px 0px;
    display: flex;
  }
  .carousel-item {
    display: inline-block;

  }
    .footer {
        align-items: flex-start;
        height: 100px;
        justify-content: center;
        flex-direction: column;
      }
     
 }
 